# =========================
# Python / Virtual Envs
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# SQLite Datenbanken
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log